/* Universelt */

body {
	background: #fcfbfa;
	margin: 0px;
}

/* Header */

#splash img {
	margin: 0px;
	width: 100%;
}

header {
	position: fixed;
	width: 100%;
	top: 0;
}

header nav img {
	margin-top: 2vw;
	max-width: 20vw;
}

header nav {
	text-align: center;
}

header nav a {
	color: white;
	margin: 2px;
	background-size: cover;
	align-self: flex-end;
	padding: 2px;
	font-size: 1.2rem;

}


header nav a:link {
	font-weight: 100;
	color: black;
}


header nav a:visited {

	font-style: normal;
	font-weight: 100;
	color: black;
}


header nav a:hover {

	font-style: normal;
	font-weight: 500;
	color: black;
}


header nav a:active {

	font-style: normal;
	font-weight: 100;

	color: black;
}

/* Menu */

#menu h1 {
	text-align: center;
}

#brødtekst {
	text-align: center;
	display: grid;
	grid-template-columns: auto auto;
}

#undermenu {
	text-align: center;
	display: grid;
	grid-template-columns: auto auto;
}

#menu img {
	max-width: 40vw;
	margin: 2vw;
}

/*	____________________Pop Up____________________*/

#popup {
	background-color: rgba(164, 182, 186, 0.78);
	top: 0;
	width: 100vw;
	height: 100vh;
	position: fixed;
	display: none;
	overflow: scroll;
}

#popup img {
	width: 80%;
}



#indhold {
	background-color: #fcfbfa;
	text-align: center;
	width: 90vw;
	height: 80vh;
	top: 0;
	margin: auto;
	padding-top: 1vh;
}

#luk {
	margin-top: 0vw;
	margin-left: 80vw;
	padding-right: 2rem;

}

#luk button {
	padding: 1rem;
	font-size: 1rem;
}
